In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df=pd.read_csv('Medical_insurance.csv')
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [48]:
df.shape

(2772, 7)

In [49]:
df.duplicated().sum()   ## checking for the duplicate rows

1435

In [50]:
df1=df[df.duplicated()]
df1

      age     sex     bmi  children smoker     region      charges
581    19    male  30.590         0     no  northwest   1639.56310
1338   23    male  34.400         0     no  southwest   1826.84300
1339   56  female  39.820         0     no  southeast  11090.71780
1340   27    male  42.130         0    yes  southeast  39611.75770
1341   19    male  24.600         1     no  southwest   1837.23700
...   ...     ...     ...       ...    ...        ...          ...
2767   47  female  45.320         1     no  southeast   8569.86180
2768   21  female  34.600         0     no  southwest   2020.17700
2769   19    male  26.030         1    yes  northwest  16450.89470
2770   23    male  18.715         0     no  northwest  21595.38229
2771   54    male  31.600         0     no  southwest   9850.43200

[1435 rows x 7 columns]

In [51]:
cleaned_df=df.drop_duplicates(inplace=True)

In [52]:
df.shape

(1337, 7)

## Preparing independent(X) and dependent(Y) variables/features

In [53]:
X=df.drop(columns=['charges'],axis=1)
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [54]:
y=df['charges']
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [55]:
X

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1337 rows x 6 columns]

## Differentiate numerical and categorical columns in the dataset

In [56]:
numerical_features=X.select_dtypes(exclude='object').columns
print('\n Columns with integer datatype:',numerical_features)
categorical_features=X.select_dtypes(include='object').columns
print('\n Columns with object datatype:',categorical_features)

 Columns with integer datatype: Index(['age', 'bmi', 'children'], dtype='object')

 Columns with object datatype: Index(['sex', 'smoker', 'region'], dtype='object')

In [57]:
numerical_features=X.select_dtypes(exclude='object').columns
categorical_features=X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

ohe=OneHotEncoder()
scaler=StandardScaler()

pre_processing=ColumnTransformer(
  [
    ('OneHotEncoder', ohe, categorical_features),
    ('StandardScaler', scaler, numerical_features)
  ]
)

In [58]:
X=pre_processing.fit_transform(X)

In [59]:
X

array([[ 1.        ,  0.        ,  0.        , ..., -1.44041773,
        -0.45315959, -0.90923416],
       [ 0.        ,  1.        ,  1.        , ..., -1.51164747,
         0.50942165, -0.07944162],
       [ 0.        ,  1.        ,  1.        , ..., -0.79935006,
         0.3831546 ,  1.58014347],
       ...,
       [ 1.        ,  0.        ,  1.        , ..., -1.51164747,
         1.01448983, -0.90923416],
       [ 1.        ,  0.        ,  1.        , ..., -1.29795825,
        -0.79752426, -0.90923416],
       [ 1.        ,  0.        ,  0.        , ...,  1.55123139,
        -0.26129928, -0.90923416]])

In [60]:
X.shape

(1337, 11)

## Split the dataset into train and test data for training and prediction

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test=train_test_split(X,y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape

((935, 11), (402, 11))

## Creating an evaluate function to get all metrics after model training

In [66]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [67]:
def evaluate_model(true, predicted):
  mae=mean_absolute_error(true, predicted),
  mse=mean_squared_error(true, predicted),
  rmse=np.sqrt(mean_squared_error(true, predicted)),
  r2score=r2_score((true, predicted)),
  return mae, rmse, r2score

In [68]:
models={
  "Linear regression": LinearRegression(),
  "Lasso":Lasso(),
  "Ridge":Ridge(),
  "K-Neighbours regressor":KneighboursRegressor(),
  "Decision Tree": DecisionTreeRegressor(),
  "Random forest regressor":RandomForestRegressor(),
  "XGBregressor":XGBRegressor(),
  "Catboosting Regressor":CatBoostRegressor(verbose=False),
   "Adaboost regressor":AdaBoostRegressor()
}

model_list=[]
r2_list=[]

for i in range(len(list(models))):
  model

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' on line 5 (3029333250.py, line 6)